* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url(/assets/hero-images/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-image-wrapper {
  height: 736px;
  width: 1110px;
  display: flex;
  position: relative;
}

.app-logo {
  height: 28px;
}

.nav {
  width: 100vw;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper {
  width: 1110px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  width: 567px;
  height: 28px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.list-item {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.nav-right {
  gap: 12px;
  display: flex;
  align-items: center;
}

.nav-right img {
  height: 40px;
}

.chevron-down {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  float: right;
  justify-content: center;
}

.chevron-down img {
  height: 6px;
  width: 10.5px;
}

.hero .content {
  width: 730px;
  height: 276px;
  margin-top: 168px;
}

.hero .content h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #18191f;
  width: 730px;
  height: 196px;
}

.hero button {
  cursor: pointer;
  height: 48px;
  width: 154px;
  border: 6px;
  background: #8c30f5;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 32px;
}

.phone-mockup {
  width: 350px;
  height: 640px;
  margin-top: 96px;
  float: left;
  display: flex;
  justify-content: center;
}

.phone-mockup img {
  width: 320px;
  height: 100%;
  filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
}

.logo-coluds {
  height: 142px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos-section {
  height: 60px;
  width: 1110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos-section ul {
  display: flex;
  align-items: center;
  gap: 64px;
}

.logos-section li {
  list-style: none;
  cursor: pointer;
}

.features {
  height: 672px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.features .heading {
  text-align: center;
  width: 540px;
  height: 136px;
  margin-top: 64px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features .heading h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features .heading p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  margin-top: 8px;
}

.features-list {
  width: 1110px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  gap: 64px;
}

.features .row {
  gap: 30px;
  width: 1110px;
  height: 148px;
}

.feature-icons {
  height: 148 px;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feature-icons img {
  height: 32px;
  width: 32px;
  margin-bottom: 24px;
}

.features-list h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  margin-bottom: 8px;
}

.features-list p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.testimonial {
  width: 100vw;
  height: 896px;
  background-color: #d5fafc;
  display: flex;
  justify-content: center;
}

.testimonial-wrapper {
  height: 696px;
  width: 920px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
}

.testimonial-left {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.testimonial-right {
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.double-quotes {
  width: 143px;
  height: 120px;
  position: absolute;
  left: -95px;
  top: -56px;
}

.double-quotes img {
  opacity: 0.3;
}

.testimonial .section-heading {
  height: 168px;
  width: 445px;
  gap: 8px;
}

.section-heading h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  text-align: left;
}

.section-heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.testimonial-1 {
  margin-top: 48px;
  height: 340px;
  width: 445px;
  background-color: white;
  padding: 32px;
  gap: 32px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.testimonial-1 .logo {
  height: 40px;
  width: 130px;
}

.testimonial-1 .testimonial-content {
  height: 204px;
  width: 381px;
  gap: 16px;
}

.quotemark {
  opacity: 0.3;
}

.feedback-person .feedback {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.person-details {
  margin-top: 24px;
}

.person-details .person-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.person-details .person-position {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #969bab;
}

.testimonial-2 {
  width: 350px;
  height: 276px;
  background-color: white;
  padding: 32px;
  gap: 32px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.testimonial-2 .testimonial-content {
  height: 140px;
  width: 286px;
  gap: 16px;
}

.testimonial-1 .logo {
  height: 40px;
  width: 134px;
}

.testimonial-3 {
  width: 350px;
  height: 468px;
  background-color: white;
  padding: 32px;
  gap: 32px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.testimonial-3 .testimonial-content {
  height: 332px;
  width: 286px;
  gap: 16px;
}

.testimonial-1 .logo {
  height: 40px;
  width: 140px;
}

.stats {
  width: 100vw;
  height: 332px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.stats-wrapper {
  height: 172px;
  width: 1110px;
  gap: 30px;
  display: flex;
}

.stats .section-heading {
  width: 540px;
  height: 168px;
  gap: 8px;
}

.stats .section-title {
  width: 540px;
  height: 128px;
}

.stats .section-title h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.stats .section-heading p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.stats .counts {
  width: 540px;
  height: 172px;
  gap: 40px;
}

.counts .row {
  gap: 30px;
  width: 540px;
  height: 66px;
}

.counts .stat {
  gap: 16px;
  width: 255px;
  height: 66px;
}

.counts .details {
  width: 191px;
  height: 66px;
}

.counts .details h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.counts .icons {
  height: 48px;
  width: 48px;
  left: 0px;
  top: 9px;
  border-radius: 0px;
  padding: 8px;
}

.feature-single-5 {
  width: 100vw;
  height: 668px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.single-6-wrapper {
  height: 566px;
  width: 1110px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.feature-single-5 .image {
  width: 540px;
  height: 540px;
}

.feature-single-5 .content {
  padding: 0px 48px;
  gap: 32px;
  width: 540px;
  height: 302px;
}

.feature-single-5 .content h3 {
  width: 444px;
  height: 54px;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
}

.feature-single-5 .content p {
  width: 444px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.feature-single-5 button {
  width: 121px;
  height: 24px;
  gap: 8px;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8c30f5;
  cursor: pointer;
}

.feature-single-5 span {
  height: 24px;
  width: 24px;
}

.feature-single-6 {
  width: 100vw;
  height: 704px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.single-6-wrapper {
  height: 566px;
  width: 1110px;
  gap: 48px;
  display: flex;
  flex-direction: column;
}

.feature-single-6 .feature-details {
  gap: 30px;
  width: 1110px;
  height: 128px;
}

.feature-single-6 .cover-image {
  width: 1110px;
  height: 400px;
  background: url(/assets/feature-single-6/cover-image.png);
  border-radius: 8px;
}

.feature-single-6 h3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
  text-align: left;
  width: 540px;
  height: 108px;
}

.feature-single-6 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 540px;
  height: 128px;
}

.cta {
  width: 100vw;
  height: 491px;
  background: #2ec5ce;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cta-wrapper {
  height: 491px;
  width: 1110px;
  display: flex;
  position: relative;
}

.cta .phone-mockup-1 {
  width: 232px;
  height: 464px;
  filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
  margin-left: 74px;
}

.cta .phone-mockup-2 {
  width: 232px;
  height: 403px;
  filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 32px;
}

.cta .content {
  gap: 48px;
  width: 540px;
  height: 356px;
  margin-top: 68px;
}

.cta h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  text-align: left;
  width: 540px;
  height: 128px;
}

.cta .message p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 540px;
  height: 96px;
  margin-top: 8px;
}

.cta .get-the-app {
  gap: 8px;
  width: 282px;
  height: 76px;
}

.cta .get-the-app p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.cta .get-the-app img {
  width: 135px;
  height: 40px;
}

.cta .get-the-app .badges {
  gap: 12px;
  width: 282px;
  height: 40px;
}

.footer {
  width: 100vw;
  height: 280px;
  background: #0b0d17;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  height: 168px;
  width: 1110px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  gap: 24px;
  width: 489px;
  height: 168px;
}

.footer-right {
  gap: 16px;
  width: 160px;
  height: 140px;
}

.footer-left .links {
  gap: 12px;
  width: 489px;
  height: 64px;
}

.footer-left .links .row-1 {
  gap: 24px;
  width: 199px;
  height: 26px;
}

.footer-left .links .row-2 {
  gap: 24px;
  width: 489px;
  height: 26px;
}

.footer ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

.footer-left p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #d9dbe1;
}

.footer-right p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  width: 160px;
  height: 28px;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-row-flex-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
